<style>
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #efefef;
        height: 100vh;
    }
    .wrapper{
        background: #1D1136;
        border-radius: 10px;
        padding: 20px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    input[type=text] {
      width: 50%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
    button{
      background: #efefef;
      border: none;
        border-radius: 10px;
      color: #363636;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
</style>